
.footer {
    background-color:bg-dark;
    padding: 20px;
    text-align: center;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
.footer-links- a i {
    margin-right: 5px;
}
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255, o.1);
    color: white;
    font-size: 20px;
}
.social-icons a:hover{
    background: rgba(255,255,255,0.2);
}
.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}
.footer-bottom a {
    color: white;
    text-decoration: none;
}