
.footer {
    background-color:bg-dark;
    padding: 20px;
    text-align: center;
}
.footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.social-icons i {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}
.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}